<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" 
              href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
              crossorigin="anonymous">
        <title>EJS-Movies</title>
    </head>
    <body>
        <h1>EJS Movies</h1>
        <a href="/movies/new">Add a movie</a>
        <% for(let i = 0; i < movies.length; i++){ %>
            <div class="">
                <hr>
                <h2><%= movies[i].title %></h2>
                <p><%= movies[i].description %></p>
                <i><%= movies[i].genre %></i><br><br>
                <a href="/upvote/<%= movies[i].id %>"><i class="far fa-thumbs-up"></i></a>
                <a href="/downvote/<%= movies[i].id %>"><i class="far fa-thumbs-down"></i></a>
                <br>
                <b>Votes: <%= movies[i].votes %></b>
            </div>
        <% } %>
    </body>
</html>