<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EJS-Movies</title>
        <link href= "/public/css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" 
              href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
              crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1 class="title">EJS Movies</h1>
                <a class="add-movie" href="/movies/new">Add Movie</a>
            </header>
            <div class="movie-list">
                <% for(let i = 0; i < movies.length; i++){ %>
                <div class="single-movie <%= movies[i].title.replace(' ', '') %>">
                    <h2 class="movie-title"><%= movies[i].title %></h2>
                    <p class="movie-description"><%= movies[i].description %></p>
                    <div class="movie-info">
                        <p class="genre"><%= movies[i].genre %></p>
                        <a class="upvote" href="/upvote/<%= movies[i].id %>"><i class="far fa-thumbs-up"></i></a>
                        <a class="downvote" href="/downvote/<%= movies[i].id %>"><i class="far fa-thumbs-down"></i></a>
                        <b class="votes">Votes: <%= movies[i].votes %></b>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>